
/* ITS A COMMENT:-
 this below property is for heading */

h1
{
    background-color: lightgreen;
    font-size: 60px;
}


/* This below property is for heading with id=head-2 */

#head2
{
    background-color:lightcoral;
    font-size: 60px;
}

#mainhead
{
    background-color:lightseagreen;
    font-size: 60px;
}